# dir
00_tools
build

# files
*.o
*.elf
*.bin
*.dis
*.ko
*.mod.c
*.order
*.symvers
*.cmd
app

# vscode
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# log
*.log
logs/
*.logs

# doc
*.pdf
*.doc
*.docx

*.zip
*.tar.gz
*.rar

